@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :where(ul, ol):where([class]) {
    padding-left: 0;
  }

  body,
  :where(blockquote, figure):where([class]) {
    margin: 0;
  }

  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
  ):where([class]) {
    margin-block: 0;
  }

  :where(dd[class]) {
    margin-left: 0;
  }

  :where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
  }

  :where(ul[class]) {
    list-style: none;
  }

  p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
  }

  p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
  }

  img {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  select,
  button {
    font: inherit;
  }

  html {
    height: 100%;
  }

  html,
  :has(:target) {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    line-height: 1.5;
  }

  svg *[fill] {
    fill: currentColor;
  }
  svg *[stroke] {
    stroke: currentColor;
  }

  svg * {
    transition-property: fill, stroke;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
  }
}

@layer components {
  .title-big {
    @apply text-dark text-lg leading-tight font-semibold sm:font-bold
      sm:text-6xl;
  }

  .title-medium {
    @apply text-dark sm:text-3xl sm:font-bold;
  }

  .title-small {
    @apply text-dark sm:text-lg sm:font-semibold;
  }

  .subtitle {
    @apply text-dark sm:text-md sm:font-semibold;
  }

  .subtitle-mobile {
    @apply text-dark max-sm:text-md max-sm:font-bold;
  }

  .subtitle-small {
    @apply text-dark text-sm font-semibold sm:text-base;
  }

  .body-text {
    @apply text-sm sm:text-md;
  }

  .body-text-medium {
    @apply sm:text-base;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-10 lg:px-20;
  }

  .layout-grid {
    @apply grid grid-cols-2 gap-x-[30px] sm:grid-cols-6 lg:grid-cols-12;
  }
}
